LD_DEBUG="1"
LD_LOCAL="1"
LD_TEST="0"
LD_SERVER_ADMIN_EMAIL="xxx@xxx.x"
#LD_SECRET_ACCESS_KEY=""

# SSL
LD_SSL_CERT=""
LD_SSL_KEY=""
LD_WATCH_SSL_FILES="3600"

# Database
LD_DB_HOST="127.0.0.1"
LD_DB_NAME="xxx"
LD_DB_USER="root"
LD_DB_PWD="xxx"

# Redis
LD_REDIS_HOST="127.0.0.1"
LD_REDIS_HOST_PORT="6379"
LD_REDIS_TIMEOUT="1"
LD_REDIS_VERIFY_PEER_NAME="1"

# Links
LD_LINK_DOMAIN="xxx.yy"
LD_LINK_ROOT="https://xxx.yy"
LD_LINK_WWW="https://www.xxx.yy"
LD_LINK_RES="https://res.xxx.yy"
LD_LINK_API="https://api.xxx.yy"
LD_LINK_OAUTH="https://oauth.xxx.yy"
LD_LINK_GRAPHQL="https://api.xxx.yy/graphql.php"
LD_LINK_WEBSOCKET="wss://ws.xxx.yy:1443/graphql.php"

# Paths
LD_SUBDOMAINS_PATH="public_html/subdomains"
LD_BUNDLES_PATH="public_html/bundles"

# AWS
LD_AWS_REGION="eu-west-3"
LD_AWS_ACCESS_KEY="xxx"
LD_AWS_SECRET_KEY="xxx"
LD_AWS_SECURITY_TOKEN=""

LD_AWS_TRUSTED_CLOUDFRONTS="aaa,bbb,ccc"

# GraphQL
LD_GRAPHQL_ALLOW_INTROSPECTION="1"
LD_GRAPHQL_LIMITER="100"
LD_GRAPHQL_MAX_ERRORS="50"

# Security
LD_SEC_BASE_MAX_QUERY_COMP="1500"
LD_SEC_BASE_QUERY_COMP_LIMIT="1000000" # Per day
LD_SEC_BASE_REQUESTS_LIMIT="2000000" # Per hour
LD_SEC_BASE_SIMULT_MUTATION_LIMIT="4"

LD_SEC_USERS_MAX_QUERY_COMP="1500"
LD_SEC_USERS_QUERY_COMP_LIMIT="1000000"
LD_SEC_USERS_REQUESTS_LIMIT="2000000"
LD_SEC_USERS_SIMULT_MUTATION_LIMIT="4"

LD_SEC_MAX_CONNECTION_ATTEMPTS="100" # Per day

LD_CRYPT_PASSWORD="$2y$10$somedefaultsaltttttttt$"

# WebSocket
LD_VAPID_PUBLIC_KEY="xxx"
LD_VAPID_PRIVATE_KEY="xxx"
LD_WEBSOCKET_PRIVATE_KEY="xxxxxxxxxxxxxxxxxx"

# Swoole Config
LD_WEBSOCKET_INIT="full"
LD_DEBUG_TRACE_MEMUSAGE="0"
LD_DAEMONIZE="0"

LD_HTTP_REACTOR_NUM="0"
LD_HTTP_WORKER_NUM="0"
LD_WS_REACTOR_NUM="0"
LD_WS_WORKER_NUM="0"

# Others
LD_OS_NOTIFY="1"
LD_AUTOCLEAN_LOGS="10368000" # 86400 would mean "delete logs that are more than a day old"